{%extends 'base.html'%}
{% block main %}
<h2>Contact Form</h2>
<h5>Fill in this form to contact site owners.</h5>
<br>
<form action="{{ url_for('profile') }}" method='POST' enctype="multipart/form-data">
 {{form.csrf_token}}
 
 <strong>{{form.f_name.label}}</strong> 
 <br>
 <br>
 {{form.f_name}}
 <br>
 <br>
 <strong>{{form.l_name.label}}</strong>
 <br>
 <br>
 {{form.l_name}}
 <br>
 <br>
 <strong>{{form.gender.label}}</strong>
 <br>
 <br>
 {{form.gender}}
 <br>
 <br>
  <strong>{{form.email.label}}</strong>
  <br>
  {{form.email}}
  <br>
  <br>
  <strong>{{form.location.label}}</strong>
  <br>
  {{form.location}}
  <br>
  <br>
  <strong>biography</strong>
  <br>
  <br>
  {{form.biography(size=100)}}
  <br>
  <br>
  <strong>{{form.profile_picture.label}}</strong>
  <br>
  {{form.profile_picture}}
  <br>
  <br>
  <button type='submit'>Add Profile</button>
  
</form>

{% endblock %}
 